
$primary-color: #5500FF;
$secondary-color: #F97D91;
$third-color: #4F4F4F;
$footer-color: #130235;

:root {
	--primary-color: #5500FF;
	--secondary-color: #F97D91;
	--third-color: #4F4F4F;
	--footer-color: #130235;
}

body {
	font-family: 'Cormorant Garamond', serif;
}